.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  min-height: 50px;
  padding: 20px;
  color: white;
}

.markdown-viewer {
  padding: 20px;
  height: 90vh;
  overflow-y: scroll;
}

.App-intro {
  font-size: large;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.browser {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  height: 100vh;
  width: 400px;
  border-radius: 5px;
}

.browser header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #dddddd;
}

.browser header input {
  flex-grow: 2;
}

.browser article {
  border: 2px ridge black;
  padding: 5px;
  width: 386px;
  overflow-y: scroll;
  flex-grow: 2;
}

.example {
  display: flex;
  flex-direction: row;
}

.example .source-panel {
  padding-left: 30px;
  overflow-y: scroll;
  height: 100vh;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white; /*#373a47;*/
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item-list li {
  list-style: none;
}
.bm-item-list ul {
  margin: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}
.menu-item:hover {
  color: red;
}
